.notFound {
    text-align: center;
    display: grid;
    margin-top: 100px;
    justify-content: center;
    align-content: center;
}
.notFound h1{
    font-size: 15px;
}
.notFound img{
    width: 100%;
    margin: auto;
}