nav {
    background: var(--nav-color);
}

.wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
}

.wrapper-container ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.wrapper-container ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}
.wrapper-container ul li i{
    font-size: 25px;
    color: var(--text-color);
    cursor: pointer;
}

.wrapper-container .avatar {
    gap: 10px;
}

.wrapper-container ul .profile {
    display: flex;
}

.wrapper-container ul .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper-container .logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.wrapper-container .logo img {
    width: 60px;
}

.wrapper-container .logo a p {
    color: var(--logo-color);
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.toggle-btn {
    display: none;
}

.toggle-btn i {
    cursor: pointer;
    color: var(--text-color);
    font-size: 25px;
    display: none;
}

a {
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .wrapper-container {
        padding: 10px 15px;
    }

    .toggle-btn {
        display: block;
    }

    .wrapper-container ul {
        flex-direction: column;
        position: absolute;
        top: 100px;
        align-items: center;
        visibility: hidden;
    }

    .wrapper-container .avatar {
        left: 130px;
    }

    .nav-collapse {
        height: 350px !important;
    }

    .wrapper-container .toggle-btn i {
        display: block;
    }

    .nav-collapse .wrapper-container ul {
        visibility: visible;
    }
}